



<div class="wrapper-devise">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <br>

<div class="border-form-div">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">



    <%= f.input :name, required: true, autofocus: true %>

    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>

    <div><%= f.check_box :is_female, {:checked => false}, required: true%> <%= f.label :is_female, "Homem" %> </div>
    <div><%= f.check_box :is_female, {:checked => false}, required: true%> <%= f.label :is_female, "Mulher (Modelo)" %> </div>
    <br>

    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

  </div>


  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
<br>
<br>

<%= render "devise/shared/links" %>
</div>

    </div>
  </div>
</div>
</div>
