
<div class="wrapper-devise">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <br>

      <div class="form-div">

      <center><h2>Cadastre-se</h2></center>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>


          <div class="form-group string required user_name">
            <label class="control-label string required" for="user_name">Nome:</label>
            <input class="form-control string required" autofocus="autofocus" required="required" aria-required="true" placeholder="Maria" type="text" name="user[name]" id="user_name">
          </div>

          <%= f.input :email, required: true, autofocus: true, placeholder: "maria@gmail.com"  %>

          <%= f.input :password, required: true,placeholder: "......",label: "Senha",  hint: ("#{@minimum_password_length} caracteres (minimo)" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true, label: "Confirmacao de senha" %>

          <%= f.input :gender, collection: User::STATUSES, label: "Tipo de conta:", placeholder: "Cliente ou Profissional?" %>

          <!-- INICIO - Botao para upload de foto -->
          <div class="photo-border">
          <center>
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
            <br>
             <div class="form-group file required user_photo">
               <label class="control-label file optional" for="user_photo">
                <div class="btn btn-default">Foto de Perfil</div>
               </label>
               <input class="file optional hide" type="file" name="user[photo]" id="user_photo">
             </div>
          </center>
          </div>
          <!-- FIM - Botao para upload de foto -->

             <%= f.button :submit, "Sign up", class: "btn btn-danger full-width" %>

          <% end %>
          <br>

        <center>
        <%= render "devise/shared/links" %>
        </center>

        </div>


      </div>

    </div>
  </div>
</div>

