
<div style="background-color: black">

<style>
  .spacenavbar {
    margin: 0px 0px;
    background-color: black;
    padding: 2px;
  }

  .separation1 {
    margin-top: -10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: black;
    padding: 1px;

  }
  .sep {
    height: 1px;
    background: #e8e8e8;
    margin: -10px -25px;
}
</style>

<!-- PERFIL -->
<div class="spacenavbar"></div>

<div class="container">
  <div class="row" style="margin-top: 1px">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">

    <div class="border-form-div">
      <h4 style="padding: 10px; margin-bottom: -10px"><strong>Perfil de usuario:</strong></h4>

      <div class="separation1"></div>

      <center>
      <br>
        <% if !@user.photo.url(:thumb).nil? %>
          <td><%= image_tag(@user.photo.url(:thumb)) %></td>
        <% end %>
        <h3><%= @user.name %></h3>
        <h4><%= @user.email %></h4>
        <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-danger"%>
      </center>
      <br>
    </div>

  </div>
  </div>
</div>
<!-- PERFIL FIM -->


<!-- ANUNCIO -->

<% if current_user.is_female %> <!-- check if user is female to show profile -->


<% if !current_user.pprofile.nil? %>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-offset-3 col-sm-6">


 <div class="border-form-div">
      <h4 style="padding: 10px; margin-bottom: -10px"><strong>Anuncio:</strong></h4>
      <div class="separation1"></div>



  <br>
  <p><center>Preencha o anuncio com suas informacoes e clique em salvar anuncio para publica-lo</center></p>
  <br>

  <center><p><strong>Informacoes de contato</strong></p></center>
  <div class="sep"></div>
  <br>

  <%= simple_form_for [@pprofile], defaults: { input_html: { class: 'default_class' } }  do |f| %>

    <%= f.input :name, placeholder: "Nome para o anuncio", :label => "Nome" %>
    <%= f.input :phone_number, placeholder: "Telefone", :label => "Telefone"  %>
    <%= f.input :city, collection: @cities, placeholder: "Cidade", :label => "Cidade"  %>
    <%= f.input :neighborhood, placeholder: "Bairro", :label => "Bairro"  %>
    <%= f.input :description, as: :text, placeholder: "Descricao", :label => "Descricao"  %>




  <br>
  <center><p><strong>Book de fotos</strong></p></center>
    <div class="sep"></div>
  <br>

   <p><center>Voce pode selecionar ate 7 fotos para aparecer no seu perfil</center></p>

  <hr/>
  <center><%= f.input :photo1, :label => "Foto 1", input_html: { class: 'btn-danger' } %></center>
  <%= f.input :photo1_cache, as: :hidden %>
    <center><%= image_tag(@pprofile.photo1.url(:small)) %></center>
  <hr/>

  <%= f.input :photo2, :label => "Foto 2", class: "btn-danger" %>
  <%= f.input :photo2_cache, as: :hidden %>
  <% if !@pprofile.photo2.url.nil? %>
    <center><%= image_tag(@pprofile.photo2.url(:small)) %></center>
  <% end %>
  <hr/>

  <%= f.input :photo3, :label => "Foto 3", prompt: "Select your age" %>
  <%= f.input :photo3_cache, as: :hidden %>
  <% if !@pprofile.photo3.url.nil? %>
    <center><%= image_tag(@pprofile.photo3.url(:small)) %></center>
  <% end %>
  <hr/>

  <%= f.input :photo4, :label => "Foto 4" %>
  <%= f.input :photo4_cache, as: :hidden %>

    <center><%= image_tag(@pprofile.photo4.url(:small)) %></center>

  <hr/>

  <%= f.input :photo5, :label => "Foto 5" %>
  <%= f.input :photo5_cache, as: :hidden %>
  <% if !@pprofile.photo5.url.nil? %>
    <center><%= image_tag(@pprofile.photo5.url(:small)) %></center>
  <% end %>
  <hr/>

  <%= f.input :photo6, :label => "Foto 6" %>
  <%= f.input :photo6_cache, as: :hidden %>
  <% if !@pprofile.photo6.url.nil? %>
    <center><%= image_tag(@pprofile.photo6.url(:small)) %></center>
  <% end %>
  <hr/>

  <%= f.input :photo7, :label => "Foto 7" %>
  <%= f.input :photo7_cache, as: :hidden %>
  <% if !@pprofile.photo7.url.nil? %>
    <center><%= image_tag(@pprofile.photo7.url(:small)) %></center>
  <% end %>
  <hr/>




   <center><p><strong>Medias sociais</strong></p></center>
    <div class="sep"></div>
  <br>
    <p><center>Caso voce tenha Twitter, Instagram, website ou seja mencionada em forum voce pode listar tudo isso nessa secao, mas so se voce realmente quiser1 :)</center></p>
    <br>

    <%= f.input :twitter, as: :url, placeholder: "http://www.twitter.com/seu_endereco", :label => "Twiiter"%>
    <%= f.input :instagram, placeholder: "http://www.instagram/seu_endereco", :label => "Instagram" %>
    <%= f.input :site, placeholder: "http://www.seu_endereco.com.br", :label => "Website" %>
    <%= f.input :forum, placeholder: "http://www.seu_endereco", :label => "Forum" %>
    <center>
   <%= f.submit "Salvar informacoes do anuncio", class: "btn btn-danger";%>
  </center>
  <% end %>

  <br>
<%end%>
</div>
</div>
</div>
<% end %>
  <br>
  <br>
  <br>
<!-- ANUNCIO FIM -->

