
<div style="background-color: black">

<style>
  .spacenavbar {
    margin: 0px 0px;
    background-color: black;
    padding: 2px;
  }

  .separation1 {
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: black;
    padding: 1px;
  }
</style>

<!-- PERFIL -->
<div class="spacenavbar"></div>

<div class="container" style="background-color: white">

  <p style="margin-top: 10px; padding: 5px"><strong>Perfil de usuario:</strong></p>

  <div class="separation1"></div>

  <center>
    <% if !@user.photo.url(:thumb).nil? %>
      <td><%= image_tag(@user.photo.url(:thumb)) %></td>
    <% end %>
    <h3><%= @user.name %></h3>
    <h4><%= @user.email %></h4>
    <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-danger"%>
  </center>
  <br>

</div>
<br>
<!-- PERFIL FIM -->


<style>
  .sep {
    height: 1px;
    background: #e8e8e8;
    margin: 0px -25px;
}
</style>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-offset-3 col-sm-6">
<br>
<div class="border-form-div">










<!-- ANUNCIO -->
<% if !current_user.pprofile.nil? %>

<div style="margin: 0px -25px; background: black; color: white">
<p style="padding: 5px"><strong>Anuncio</strong></p>
</div>
<div class="sep"></div>

  <p><center>Preencha o anuncio com suas informacoes e clique em salvar anuncio para publica-lo</center></p>

  <p style="margin: 0px -15px"><strong>Contato</strong></p>
  <div class="sep"></div>
  <br>

  <%= simple_form_for [@pprofile], defaults: { input_html: { class: 'default_class' } }  do |f| %>
    <%= f.input :name, placeholder: "Nome para o anuncio", :label => "Nome" %>
    <%= f.input :phone_number, placeholder: "Telefone", :label => "Telefone"  %>



    <%= f.input :description, as: :text, placeholder: "Descricao", :label => "Descricao"  %>




  <br>
  <p style="margin: 0px -15px"><strong>Book</strong></p>
    <div class="sep"></div>
  <br>

  <center><%= f.input :photo1, :label => "Foto 1", input_html: { class: 'btn-danger' } %></center>
  <%= f.input :photo1_cache, as: :hidden %>
    <center><%= image_tag(@pprofile.photo1.url(:standard)) %></center>
  <hr/>

  <%= f.input :photo2, :label => "Foto 2", class: "btn-danger" %>
  <%= f.input :photo2_cache, as: :hidden %>
  <% if !@pprofile.photo2.url.nil? %>
    <center><%= image_tag(@pprofile.photo2.url(:standard)) %></center>
  <% end %>
  <hr/>

  <%= f.input :photo3, :label => "Foto 3", prompt: "Select your age" %>
  <%= f.input :photo3_cache, as: :hidden %>
  <% if !@pprofile.photo3.url.nil? %>
    <center><%= image_tag(@pprofile.photo3.url(:standard)) %></center>
  <% end %>
  <hr/>

  <%= f.input :photo4, :label => "Foto 4" %>
  <%= f.input :photo4_cache, as: :hidden %>

    <center><%= image_tag(@pprofile.photo4.url(:small)) %></center>

  <hr/>

  <%= f.input :photo5, :label => "Foto 5" %>
  <%= f.input :photo5_cache, as: :hidden %>
  <% if !@pprofile.photo5.url.nil? %>
    <center><%= image_tag(@pprofile.photo5.url(:small)) %></center>
  <% end %>
  <hr/>

  <%= f.input :photo6, :label => "Foto 6" %>
  <%= f.input :photo6_cache, as: :hidden %>
  <% if !@pprofile.photo6.url.nil? %>
    <center><%= image_tag(@pprofile.photo6.url(:small)) %></center>
  <% end %>
  <hr/>

  <%= f.input :photo7, :label => "Foto 7" %>
  <%= f.input :photo7_cache, as: :hidden %>
  <% if !@pprofile.photo7.url.nil? %>
    <center><%= image_tag(@pprofile.photo7.url(:small)) %></center>
  <% end %>
  <hr/>




   <p style="margin: 0px -15px"><strong>Medias sociais</strong></p>
    <div class="sep"></div>

    <p><center>Caso voce tenha Twitter, Instagram, website ou seja mencionada em forum voce pode listar tudo isso nessa secao, mas so se voce realmente quiser1 :)</center></p>
    <br>

    <%= f.input :twitter, as: :url, placeholder: "Endereco do Twiiter", :label => "Twiiter"%>
    <%= f.input :instagram, placeholder: "Endereco do Instagram", :label => "Instagram" %>
    <%= f.input :site, placeholder: "Link para website", :label => "Website" %>
    <%= f.input :forum, placeholder: "Link para forum", :label => "Forum" %>

   <%= f.submit "Salvar informacoes do anuncio", class: "btn btn-danger" %>



  <% end %>

  <br>

<%end%>
<!-- ANUNCIO FIM -->

