
<div style="background-color: #941B0C">

<style>
  .sep {
    height: 1px;
    background: #e8e8e8;
    margin: 0px -25px;
}
</style>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-offset-3 col-sm-6">
<br>
<div class="border-form-div">




    <!-- PERFIL -->

    <div style="margin: 0px -25px; background: black; color: white">
      <p style="padding: 5px"><strong>Perfil</strong></p>
    </div>
    <div class="sep"></div>
    <br>

    <div style="display: flex;">
      <div margin-left: 50px>
        <img align="left" src="http://lorempixel.com/100/100/people/9/" alt="Profile image example"/>
      </div>
      <div style="margin-left: 20px">
        <p><%= @user.name %></p>
        <p><%= @user.email %></p>
        <% if !@user.photo.url(:thumb).nil? %>
        <td><%= image_tag(@user.photo.url(:thumb)) %></td>
        <% end %>
        <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-danger btn-block"%>
      </div>
    </div>
    <br>

    <!-- PERFIL FIM -->



<!-- ANUNCIO -->
<% if !current_user.pprofile.nil? %>

<div style="margin: 0px -25px; background: black; color: white">
<p style="padding: 5px"><strong>Anuncio</strong></p>
</div>
<div class="sep"></div>

  <p><center>Preencha o anuncio com suas informacoes e clique em salvar anuncio para publica-lo</center></p>

  <p style="margin: 0px -15px"><strong>Contato</strong></p>
  <div class="sep"></div>
  <br>

  <%= simple_form_for [current_user.pprofile] do |f| %>
    <%= f.input :name, placeholder: "Nome para o anuncio", :label => "Nome" %>
    <%= f.input :phone_number, placeholder: "Telefone", :label => "Telefone"  %>
    <%= f.input :city, placeholder: "Cidade para o anuncio", :collection => City.all, :label => "Cidade do anuncio"  %>
    <%= f.input :neighborhood, placeholder: "Bairro", :label => "Bairro"  %>
    <%= f.input :description, as: :text, placeholder: "Descricao", :label => "Descricao"  %>

    <br>
    <p style="margin: 0px -15px"><strong>Fotos</strong></p>
    <div class="sep"></div>
    <br>

    <img align="center" src="http://placehold.it/50x50" alt="Profile image example"/>
    <img align="center" src="http://placehold.it/50x50" alt="Profile image example"/>
    <img align="center" src="http://placehold.it/50x50" alt="Profile image example"/>
    <img align="center" src="http://placehold.it/50x50" alt="Profile image example"/>
    <img align="center" src="http://placehold.it/50x50" alt="Profile image example"/>
    <img align="center" src="http://placehold.it/50x50" alt="Profile image example"/>
    <img align="center" src="http://placehold.it/50x50" alt="Profile image example"/>

    <br>
    <br>




    <p style="margin: 0px -15px"><strong>Medias sociais</strong></p>
    <div class="sep"></div>

    <p><center>Caso voce tenha Twitter, Instagram, website ou seja mencionada em forum voce pode listar tudo isso nessa secao, mas so se voce realmente quiser1 :)</center></p>
    <br>

    <%= f.input :twitter, placeholder: "Endereco do Twiiter", :label => "Endereco do twiiter" %>
    <%= f.input :instagram, placeholder: "Endereco do Instagram", :label => "Endereco do Instagram" %>
    <%= f.input :site, placeholder: "Link para website", :label => "Link para website" %>
    <%= f.input :forum, placeholder: "Link para forum", :label => "Link para forum" %>

    <%= f.submit "Salvar anuncio", class: "btn btn-danger" %>

  <% end %>

<%end%>
<!-- ANUNCIO FIM -->



</div>
</div>
</div>
</div>

<!-- wrapper fim -->
</div>















<hr\>
<div class="wrapper-devise">
<div class="container">

<!-- EDICAO DO PERFIL DE USUARIO -->
<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8">

    <div class="thumbnail thumbstyle">
      <div class="card card-block">

      <div class="flexshow">
      <div>
        <h4 class="card-title text-center"><strong>Perfil</strong></h4>
        <center><img class="card-img-top img-circle" src="http://www.fillmurray.com/150/150"></center>
        <div class="card-block">
          <h4 class="card-title text-center"><strong><%= @user.name %></strong></h4>
          <p class="card-text text-center"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>  <%= @user.email %></p>
          <% if current_user.is_female %>
            <hr/>
            <h4 class="card-title text-center"><strong>Anuncio</strong></h4>
            <p class="card-text text-center">Cidade(s): <%= @user.pprofile.city %></p>
            <p class="card-text text-center">Bairro(s): Jardins </p>
            <p class="card-text text-center"><i class="fa fa-phone-square fa-fw"></i> <%= @user.pprofile.phone_number %></p>
            <p class="card-text text-center"><i class="fa fa-calendar" aria-hidden="true"></i> de 15/02/2015 ate 17/06/2017</p>
          <%end%>

        </div>
      </div>
        <div>
        <% if current_user.is_female %>
          <%= link_to "Anunciar", edit_user_registration_path, class: "btn btn-danger btn-block btn-lg" %>
          <br>
        <%end%>
        <%= link_to "Editar perfil", edit_user_registration_path%> <br>
        <% if current_user.is_female %>
          <%= link_to "Editar anuncio", edit_user_registration_path%> <br>
          <%= link_to "Visualizar anuncio", pprofile_path(@user.pprofile)%> <br>
        <%end%>
        <%= link_to "Excluir perfil", edit_user_registration_path%>
        </div>
      </div>

      </div>
      <br>
    </div>

  </div>
</div>
<!-- FIM: EDICAO DO PERFIL DE USUARIO -->


<% if current_user.is_female %>


<!-- EDICAO DO PERFIL PUBLICO DO USUARIO -->
<div class="thumbnail thumbstyle">
  <div class="card card-block">
  <h4 class="card-title text-center"><strong>Anuncio</strong></h4>

<!-- CONTACT INFO-->
    <center><h2 class="card-text"> <strong> <%= @pprofile.name %> </strong></h2></center>

    <div class="flexshow">
      <div>
        <p class="card-text pmargin0"> <strong>Contato:</strong></p>
        <p class="card-text pmargin0"><strong><i class="fa fa-phone-square fa-fw"></i></strong><%= @pprofile.phone_number %> </p>
        <p class="card-text pmargin0"><strong> <i class="fa fa-map-marker fa-fw"></i> </strong><%= @pprofile.city %> </p>
      </div>
      <div>
        <% if current_user.pprofile.nil? %>
          <%= link_to "Preencher anuncio", edit_user_registration_path, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Anuncie em outra cidade", edit_user_registration_path, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
    <hr/>

<!-- FIM: CONTACT INFO-->



<!-- CAROUSEL WITH PCTURES -->
  <div>
    <p class="card-text pmargin0"> <strong>Book:</strong></p>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://www.fillmurray.com/300/200" alt="Los Angeles">
      </div>

      <div class="item">
        <img src="http://www.fillmurray.com/300/200" alt="Chicago">
      </div>

      <div class="item">
        <img src="http://www.fillmurray.com/300/200" alt="New York">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
<!-- FIM CAROUSEL WITH PICTURES -->

    <br>
    <center><p class="card-text pmargin0"><strong> Descricao: </strong><%= @pprofile.description %></p></center>
    <hr/>


    <p class="card-text pmargin0"><strong> Medias sociais: </strong></p>
    <a class="card-text pmargin0"><strong> Website: </strong><%= @pprofile.site %></a><br>
    <a class="card-text pmargin0"><strong> Forum: </strong><%= @pprofile.forum %></a><br>
    <a class="card-text pmargin0"><strong> <i class="fa fa-instagram fa-fw"></i> </strong><%= @pprofile.instagram %></a><br>
    <a class="card-text pmargin0"><strong> <i class="fa fa-twitter fa-fw"></i> </strong><%= @pprofile.twitter %></a>

    <hr/>
    <div class="flex">
    <%= link_to "Anunciar", edit_user_registration_path, class: "btn btn-danger btn-block" %>
    <%= link_to "Editar anuncio", edit_user_registration_path, class: "btn btn-danger btn-block" %>
    <br>
    </div>
  </div>

</div>
<!-- FIM: EDICAO DO PERFIL PUBLICO DO USUARIO -->
<%end%>

</div>
</div>



