

<div class="container">

<!-- EDICAO DO PERFIL DE USUARIO -->
<div class="thumbnail" style="padding: 10px; margin-top: 20px">
  <div class="card card-block">
    <h4 class="card-title text-center"><strong>Perfil de usuario</strong></h4>
    <center><img class="card-img-top img-circle" src="http://www.fillmurray.com/150/150"></center>
    <div class="card-block">
      <h4 class="card-title text-center"><strong><%= @user.name %></strong></h4>
      <p class="card-text text-center"> <%= @user.email %></p>
      <center><%= link_to "Editar", edit_user_registration_path, class: "btn btn-primary" %></center>
    </div>
  </div>
</div>
<!-- FIM: EDICAO DO PERFIL DE USUARIO -->

<!-- EDICAO DO PERFIL PUBLICO DO USUARIO -->
<div class="thumbnail" style="padding: 10px; margin-top: 20px">
  <div class="card card-block">
    <h4 class="card-title text-center"><strong>Anuncio</strong></h4>

    <p class="card-text pmargin0" style="border: 5px solid red;"> <strong>Nome anunciado:</strong> <%= @pprofile.name %> </p>
    <p class="card-text pmargin0"><strong>Tel: </strong><%= @pprofile.phone_number %> </p>
    <p class="card-text pmargin0"><strong> Cidade: </strong><%= @pprofile.city %> </p>
    <p class="card-text pmargin0"> <strong>Fotos:</strong></p>

    <center><img class="card-img-top img-circle" src="http://www.fillmurray.com/150/150"></center>

    <p class="card-text pmargin0"><strong> Descricao: </strong><%= @pprofile.description %> </p>
    <br>

    <p class="card-text pmargin0"><strong> Site: </strong><%= @pprofile.site %></p>
    <p class="card-text pmargin0"><strong> Forum: </strong><%= @pprofile.forum %></p>
    <p class="card-text pmargin0"><strong> Instagram: </strong><%= @pprofile.instagram %></p>
    <p class="card-text pmargin0"><strong> Twitter: </strong><%= @pprofile.twitter %></p>

    <div class="card-block">
      <h4 class="card-title text-center"><strong><%= @pprofile.name %></strong></h4>

      <p class="card-text text-center"> <%= @user.email %></p>

      <center><%= link_to "Editar", edit_user_registration_path, class: "btn btn-primary" %></center>
    </div>
  </div>
</div>
<!-- FIM: EDICAO DO PERFIL PUBLICO DO USUARIO -->


</div>





















<h1>show de users / users controller</h1>

<p>user</p>  <%= @user %>
<p>user name</p>  <%= @user.name %>
  <br>
<p>user emal</p>  <%= @user.email %>
  <br>
<p>pprofile name</p>  <%= @pprofile.name %>
  <br>
<p>pprofile phone_number</p>  <%= @pprofile.phone_number %>
  <br>
<p>user name</p>  <%= @user.name %>
  <% if @pprofile == nil %>
    <p>public profile nao existe</p>
<p>user name</p>    <%= @user.cities[0] %>
  <% else %>
<p>user name</p>    <%= @pprofile %>
  <% end %>


<br>
<br>
<p>user cities</p>
<% @user.cities.each do |city| %>
  <%= city.name %>
<% end %>

<br>
<% city = City.first %>
<% city.users.each do |user| %>
  <%= user.name %>
<% end %>
