
<div class="wrapper-grey">
<div class="container">
<h3><%= @pprofile.name %></h3>
<p><%= @pprofile.phone_number %> </p>
<p><%= @pprofile.city %> - Bairro: <%= @pprofile.name %> </p>

</div>

<!-- carousel begininh -->
<div>
    <div id="myCarousel" class="carousel slide" style="width: 100%;  margin: auto;">
        <div class="carousel-inner" style="margin: auto;">

            <!--Carousel item 1-->
            <div class="item active">
                <img class="center-block" src="http://www.fillmurray.com/400/300" alt="buffalo-skyline" width="640" height="360"  />
                <div class="carousel-caption">
                    <h4>Move</h4>
                </div>
            </div>

            <!--Carousel item 2-->
            <div class="item">
                <img class="center-block" src="http://www.fillmurray.com/300/200" width="640" height="360">
                <div class="carousel-caption">
                    <h4>Move</h4>
                </div>
            </div>

            <!--Carousel item 3-->
            <div class="item">
                <img class="center-block" src="http://www.fillmurray.com/300/200" alt="the-buzz-img3" width="640" height="360">
                <div class="carousel-caption">
                    <h4>MOVE</h4>
                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- carousel ending -->
<br>
<br>



</div>

<h1>show pprofile</h1>
<p> Nome: <%= @pprofile.name %> </p>
<p> Telefone <%= @pprofile.phone_number %> </p>
<p> Cidade: <%= @pprofile.city %> </p>
<p> Bairro <%= @pprofile %> </p>
<p> Twitter <%= @pprofile.twitter %> </p>
<p> Instagram <%= @pprofile.instagram %> </p>
<p> Forum <%= @pprofile.forum %> </p>
<p> Descricao <%= @pprofile.description %> </p>
